[Unit]
After=sound.target

[Service]
Type = simple
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/jaime/.Xauthority"
Environment=XDG_RUNTIME_DIR=/run/user/1000
WorkingDirectory=/home/jaime/Development/KrystaliumSpyTelegraph
ExecStart = /home/jaime/Development/KrystaliumSpyTelegraph/venv/bin/python3 main.py
Restart = always
RestartSec = 5
KillMode = process
SendSIGHUP = no
User=jaime

[Install]
WantedBy= graphical.target

